:root {
  --green: #45b8ba;
  --dark-green: #368081;
  --red: #ba4745;
  --dark-red: #823532;
  --big-shadow: 5px 5px 8px 3px rgba(0,0,0,0.2);
  --small-shadow: 4px 4px 6px 1px rgba(0,0,0,0.2);
}

h2 {
  color: blue;
}

body {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-areas:
    "stats current past";
  gap: 10px;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Arial;
}

.box {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.stats {
  grid-area: stats;
  display: grid;
}

.current {
  grid-area: current;
  display: grid;
  justify-items: center;
  padding: 5px;
  width: 100%;
}

.button {
  font-size: 20px;
  padding: 5px;
  box-shadow: var(--big-shadow);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: none;
}

.start {
  background: linear-gradient(to bottom right, var(--red), 5%, var(--green));
  color: white;
}

.start:active {
  background: linear-gradient(to bottom right, var(--green), 5%, var(--dark-green));
	box-shadow: var(--small-shadow);
	transform: scale(0.95);
}

.stop {
  background: linear-gradient(to bottom right, var(--green), 5%, var(--red));
  color: white;
}

.stop:active {
  background: linear-gradient(to bottom right, var(--red), 5%, var(--dark-red));
	box-shadow: var(--small-shadow);
	transform: scale(0.95);
}

.past {
  grid-area: past;
}